<template>
    <div id="wrapper">
        <main>
            <fieldset>
                <legend>
                    <a href="#" @click="open">
                        <i class="fas fa-plus"></i>
                    </a> Registered gitWorkingPaths
                </legend>
                <ul>
                    <li v-for="gitWorkingPath in data.gitWorkingPaths">
                        {{gitWorkingPath}}: {{data.gitCurrentBranch[gitWorkingPath]}}
                        <i class="fas fa-trash" @click="delGitWorkingPath(gitWorkingPath)"></i>
                    </li>
                </ul>
            </fieldset>
            <timeline
                    ref="timeline"
                    :items="this.ranges"
                    :groups="this.timeline.groups"
                    :options="this.timeline.options"

                    :events="['rangechange']"
                    @rangechange="rangechange"

            ></timeline>
        </main>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import store from '../store/index'
    import moment from '../main'

    // const {dialog} = require('electron')
    const {dialog} = require('electron').remote

    export default {
        name: 'landing-page',
        computed: {
            ...mapGetters([
                'data',
                'timeline',
                'ranges'
            ]),
        },
        // data() {
        //     return this.timeline;
        // },
        methods: {
            rangechange(start, end) {
              // @todo store this information
              // console.log('rangechange', start, end)
            },
            delGitWorkingPath(gitWorkingPath) {
                store.dispatch('deleteGitWorkingPath', gitWorkingPath);
            },
            open(link) {

                dialog.showOpenDialog({
                      properties: ['openDirectory']
                  }, function (filename) {
                      if (filename) {
                          store.dispatch('registerGitWorkingPath', filename.toString());
                      }
                  }
                );
                // this.$electron.shell.openExternal(link)
            }
        }
    }
</script>

<style>
    @import "~vis/dist/vis.css";
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    @import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Source Sans Pro', sans-serif;
    }

    .fa-trash {
        cursor: pointer;
    }

    fieldset {
        margin: 5px;
        padding: 5px;
    }

    legend {
        padding: 0 5px;
    }

</style>
